<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      {{#linkTo index class="brand"}}My Great Blog{{/linkTo}}
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>{{#linkTo posts}}<i class="icon-book icon-white"></i> Posts{{/linkTo}}</li>
          <li>{{#linkTo newpost}}<i class="icon-pencil icon-white"></i> Write{{/linkTo}}</li>
          {{#if isAuthenticated}}
            <li>
              <a {{action logout}} href="#"><i class="icon-remove icon-white"></i> Logout</a>
            </li>
          {{else}}
            <li class="dropdown">
              <a id="loginproviders" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user icon-white"></i> Login <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="loginproviders">
                <li role="presentation"><a {{action login "twitter"}} href="#">Twitter</a></li>
                <li role="presentation"><a {{action login "google"}} href="#">Google</a></li>
              </ul>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{outlet}}
